.column-wrapper {
  display: grid;
  grid-gap: var(--spacing-md);
  grid-template-columns: auto 40%;
}

.column {
  padding: var(--spacing-md);
}

.column--aside {
  background-color: var(--color-primary);
  color: #fff;
}

@media (max-width: 768px) {
  .column-wrapper {
    grid-template-columns: auto;
  }
}
