*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  color: var(--color-text);
  font-family: "Open Sans", sans-serif;
  font-size: var(--font-size-text);
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

i,
em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

img {
  display: block;
}

p {
  margin-bottom: var(--spacing-md);
}
